.sectionFooter {
    margin: 50px auto 0;
    width: 1200px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #eee;
}

.footerColumn1, .footerColumn2, .footerColumn3, .footerColumn4 {
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-direction: column;
    line-height: 35px;
}


.footerColumn3 a {
    color: #000;
    font-weight: 600;
}
