body {
  font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
  color: #333;
  outline: none;
  zoom: 1;
  margin: 0 auto;
}

header {
  background-color: rgb(255, 186, 0);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #288ad6;
}

nav ol, nav ul {
  list-style: none;
  list-style-image: none;
}

li {
  list-style: none;
}

ol, ul {
  padding: 0;
  margin: 0;
}

#sectionDetail li.active {
  border: 1px solid #fd8545;
}